body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.loading-button{
    display: flex;
    align-items: center;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: not-allowed;
    position: relative;
}

.spinner{
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top: 3px solid transparent;
    animation: spin 0.8s linear infinite;
    margin-right: 10px;
    border-radius: 50%;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.loading-button :disabled{
    background-color: #2980b9;
    cursor: not-allowed;
}

span{
    font-size: 16px;
}