body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.breadcrumb{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.breadcrumb a{
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.breadcrumb a:hover{
    color: #0056b3;
}

.seperator{
    margin: 0 10px;
    color: #666;
}